.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: green;
}

.loginBlock a {
    color: white;
}

.header img {
    width: 20px;
}
